In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Data-LB\New folder\diabetes.csv")

In [3]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Q1) Print the data contained in the first 10 rows of the 4 columns.

In [18]:
df.iloc[0:10,:4]

   Pregnancies  Glucose  BloodPressure  SkinThickness
0            6      148             72             35
1            1       85             66             29
2            8      183             64              0
3            1       89             66             23
4            0      137             40             35
5            5      116             74              0
6            3       78             50             32
7           10      115              0              0
8            2      197             70             45
9            8      125             96              0

# Q2) Print the data of column name age and pregnancies where the outcome is 1.

In [20]:
df.loc[(df['Outcome']==1),['Age','Pregnancies']]

     Age  Pregnancies
0     50            6
2     32            8
4     33            0
6     26            3
8     53            2
..   ...          ...
755   37            1
757   52            0
759   66            6
761   43            9
766   47            1

[268 rows x 2 columns]

# Q3) Print the data where the glucose value is less than 100.

In [29]:
df.loc[(df['Glucose']<100)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
21,8,99,84,0,0,35.4,0.388,50,0
27,1,97,66,15,140,23.2,0.487,22,0
...,...,...,...,...,...,...,...,...,...
738,2,99,60,17,160,36.6,0.453,21,0
747,1,81,74,41,57,46.3,1.096,32,0
760,2,88,58,26,16,28.4,0.766,22,0
762,9,89,62,0,0,22.5,0.142,33,0
767,1,93,70,31,0,30.4,0.315,23,0

# Q4) print the description of the data .

In [24]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# Q5) print the min and max  value of glucose , blood pressure and insulin

In [26]:
df['Glucose'].min()

0

In [27]:
df['Glucose'].max()

199

In [28]:
df['BloodPressure'].min()

0

In [30]:
df['BloodPressure'].max()

122

In [31]:
df['Insulin'].min()

0

In [32]:
df['Insulin'].max()

846

In [45]:
df[['Glucose','BloodPressure','Insulin']].min()

Glucose          0
BloodPressure    0
Insulin          0
dtype: int64

In [46]:
df[['Glucose','BloodPressure','Insulin']].max()

Glucose          199
BloodPressure    122
Insulin          846
dtype: int64

# Q6)print all the age present in the given data.

In [36]:
set(df['Age'])

{21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 81}

In [40]:
df['Age'].unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

# Q7)df.Age.map(lamda p: p -df.age.mean())

What is the purpose of the given code snippet and what does it do?

In [39]:
df['Age'].mean()

33.240885416666664

In [53]:
df.Age.map(lambda p: p- df.Age.mean())

0      16.759115
1      -2.240885
2      -1.240885
3     -12.240885
4      -0.240885
         ...
763    29.759115
764    -6.240885
765    -3.240885
766    13.759115
767   -10.240885
Name: Age, Length: 768, dtype: float64

mean of ages is subtracted from an age